@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans';
    background-color: #18181B;
}
/* Header */
.logo{
    color: #fff;
    text-decoration: none;
    display: flex;
}

.navbar{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    text-decoration: none;
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1d4ed8;
    transition: all 0.2s ease;
}

.link a:hover::after{
    width: 80%;
}

.btn{
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #1d4ed8;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease ;
}


.btn:hover{
    background-color: #1e40af;
}

/* Header */


/* Main */

.container{
    max-width: 1200px;
    padding: 5rem 2rem;
    margin: auto;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

main{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

main .content h4{
    color: #ccc;
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
}

main .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height:4rem;
}

main .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

main .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

main .main-image{
    position: relative;
}

main .main-image::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #1d4ed8;
    opacity: 0.2;
    z-index: -100;
}

main .main-image img{
    max-width: 600px;
    margin: auto;
}
